.site {
  margin: 0;
  padding: 0;
}

.site-image {
  display: block;

  & img {
    --shadow-color: rgba(0, 0, 0, 0.05);
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform var(--animation-duration);
    transform-origin: center bottom;
    border-radius: var(--border-radius);
    box-shadow:
      0 1px 2px var(--shadow-color),
      0 1px 4px var(--shadow-color),
      0 1px 8px var(--shadow-color);
  }

  &:hover {
    z-index: 1;

    & img {
      transform: scale(1.1);
    }
  }
}

.site-description {
  font: var(--text-caption);
  color: var(--color-foreground-1);

  & p {
    margin: 0.3em 0;
  }
}
.site-image + .site-description {
  margin-top: 1em;
}

.site-name {
  font: var(--text-caption-bold);
  color: var(--color-foreground);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Theme light mode */
:root[data-theme="light"] .site-image img {
  --shadow-color: rgba(0, 0, 0, 0.05);
}

/* Theme dark mode */
:root[data-theme="dark"] .site-image img {
  --shadow-color: rgba(0, 0, 0, 0.3);
}

/* Pagefind UI */

.pagefind-ui__results-area {
  margin-top: 0px !important;
}

.pagefind-ui__drawer {
  /* General styles */
  backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 16px;
  z-index: 1000;
  max-width: 600px;
  width: 90%;

  /* Centering and placement */
  position: fixed; /* Ensures it's tied to the viewport, not a parent */
  top: calc(100% + 16px); /* Positioned below the search box */
  left: 50%;
  transform: translateX(-50%);

  /* Scrolling and overflow */
  max-height: 80vh; /* Prevents it from exceeding the viewport height */
  overflow-y: auto; /* Enables scrolling for overflowing content */
  background-color: var(--color-background-a); /* Semi-transparent background */
}

/* Light theme specific adjustments */
:root[data-theme="light"] .pagefind-ui__drawer {
  background-color: rgba(255, 255, 255, 0.9); /* 10% transparent white */
  color: var(--color-foreground); /* Ensure text color matches theme */
}

/* Dark theme specific adjustments */
:root[data-theme="dark"] .pagefind-ui__drawer {
  background-color: rgba(0, 0, 0, 0.9); /* 10% transparent black */
  color: var(--color-foreground); /* Ensure text color matches theme */
  
}

:root[data-theme="dark"] .pagefind-ui__result-link {
  color: var(--color-foreground-1) !important; /* Ensure text color matches theme */
  
}